<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{category.css}">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> Categoria dos Produtos </h1>
        <h2> Adicionar novas Categorias </h2>
        <form th:action="@{/adicionarCategoria}" th:object="${categoria}" method="post">
            <input 
            type="text"
            th:field="*{nome}"
            placeholder="Nome da Categoria"
            
            >

            <input 
            type="text"
            th:field="*{tipo}"
            placeholder="Tipo da Categoria"
            
            >
            <button type="submit">Adicionar</button>

        </form>

        <hr/>

        <h2> Categorias cadastradas </h2>
        <table>
            <thead>
                <tr>
                    <th>Nome da Categoria</th>
                    <th>Tipo da Categoria</th>
                </tr>
            </thead>
            <tr th:if="${paginaCategoria.empty}">
                <td colspan="4" style="text-align: center">
                    Nenhuma categoria cadastrada ainda...
                </td>
            </tr>
            <tr th:each="categoria : ${paginaCategoria.content}">
                <td th:text="${categoria.nome}">Nome da Categoria</td>
                <td th:text="${categoria.tipo}">Tipo da Categoria</td>
           
                <td>
                    <form th:action="@{/excluirCategoria}" method="post">
                        <input type="hidden" name="id" th:value="${categoria.id}">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
                   <td>
                        <a th:href="@{/editarCategoria/{id}(id=${categoria.id})}">
                            Editar
                        </a>
                    </td>
            </tr>

        </table>
    </div>
</body>
</html>