<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/product.css}">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> Nome dos Produtos </h1>
        <h2> Adicionar novos Produtos </h2>
        <form th:action="@{/adicionarProduto}" th:object="${produto}" method="post">
            <input 
            
            type="text"
            th:field="*{nome}"
            placeholder="Nome do Produto"
            
            >

            <input 
            
            type="number"
            th:field="*{preco}"
            placeholder="Preço do Produto"
            
            >

            <input
            
            type="number"
            th:field="*{ref}"
            placeholder="Referência do Produto"            
            >

            <button type="submit">Adicionar</button>

        </form>
         <h2> Produtos cadastrados </h2>
        <table>
            <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Preço do Produto</th>
                    <th>Referência do Produto</th>
                </tr>
            </thead>
            <tr th:if="${paginaProduto.empty}">
                <td colspan="4" style="text-align: center">
                    Nenhum produto cadastrado ainda...
                </td>
            </tr>
            <tr th:each="produto : ${paginaProduto.content}">
                <td th:text="${produto.nome}">Nome do Produto</td>
                <td th:text="${produto.preco}">Preço do Produto</td>
                <td th:text="${produto.ref}">Referência do Produto</td>
           
                <td>
                    <form th:action="@{/excluirProduto}" method="post">
                        <input type="hidden" name="id" th:value="${produto.id}">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
                   <td>
                        <a th:href="@{/editarProduto/{id}(id=${produto.id})}">
                            Editar
                        </a>
                    </td>
            </tr>

        </table>

    </div>
</body>
</html>